* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: green;
  height: 275px;
}

header h2 {
  color: white;
  font-size: 3em;
  font-weight: normal;
}

header .social-nav {
  position: absolute;
  bottom: -30px;
}

.social-nav ul {
  list-style-type: none;
  margin: 0;
}

.social-nav ul li {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-right: 1em;
}

.social-nav ul li:last-child {
  margin-right: 0;
}

.social-nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: blue;
  border: 4px solid white;
}

.social-nav .sn-twitter {
  background: url('./images/twitter.svg') no-repeat 50% 50%;
  background-color: #1DA1F2;
}

.social-nav .sn-linkedin {
  background: url('./images/icons8-linkedin-circled.svg') no-repeat 50% 50%;
  background-color: #0078d4;
}

.social-nav .sn-github{
  background: url('./images/iconmonstr-github-1.svg') no-repeat 50% 50%;
  background-color:#000000;
}

section.about {
  padding: 4em 2em 2em 2em;
}

section.about p {
  text-align: center;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.projects h1 {
  width: 100%;
  flex-basis: 100%;
  text-align: center;
  margin: 1em;
}

.skills{
  text-align: center;
  list-style-position: inside;

}

ul {
  display: inline-block;
  padding-left: 0;
  text-align: left;
}


.project {
  display: block;
  margin-bottom: 20px;
  position: relative;
  background-position: center;
  width: 386px;
  height: 400px;
}

.projects .sn-event-promotion{
  background: url("images/My project (1).png") no-repeat center;
  background-size: contain;
  height: 348px;
  width: 486px;
}

.projects .sn-hungry-tiger{
  background: url("images/Screenshot_2022-12-03-13-07-01-60_098b036993d3e3f558541f98c3138ffe (1).jpg") no-repeat center;
  background-size: contain;
  height: 386px;
  width: 400px;
}

.projects h5 {
  display: block;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.8em;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  top: 90%;
  position: absolute;
}


.projects h1{
  margin: 40px;
}

